<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="commentSQL">
 
 	<insert id="commentWrite" parameterType="comment">
 		insert into radiantcomment values(seq_radiantcomment.nextval, #{boardSeq}, #{commentId}, #{commentText}, sysdate, 0)
 	</insert>
 	
 	<select id="commentList" resultType="comment">
 		select commentSeq, boardSeq, commentid, commenttext, to_char(commentdate, 'yyyy-mm-dd hh:mi:ss') as commentdate from radiantcomment order by commentSeq 
 	</select>
 	
 	<select id="getBoardSeq" resultType="int">
 		select boardSeq from radiantcomment
 	</select>
 </mapper>