@charset "UTF-8";

#payForm table{
	margin: 0 auto;
	padding: 10px;
	width: 800px;
}
#payForm tbody {
	border-top: 2px solid #39210D;
}
#orderTopTable tbody, #saleTable tbody, #payInfoTable tbody {
	border-bottom: 1px solid #999;
}
#payForm th {
	text-align: left;
	padding: 20px 30px;
}
#payForm tbody td {
	padding: 5px 30px;
	font-size: 10pt;
}
#payForm tfoot td {
	padding: 30px 40px;
}
#orderTopTable thead th {
	padding: 30px 50px;
}
#topDiv {
	text-align: center;
	font-size: 18pt;
	padding-bottom: 15px;
}
#orderTopTable thead img {
	width: 700px;
	height: 80px;
}
#saleTable div, #shipInfoTable div, #paymentTable div {
	color: #555;
	font-size: 9pt;
}
#orderTopTable p, #saleTable p, #paymentTable p {
	color: black;
	font-size: 10pt;
	font-weight: bold;
	display: inline-block;
}
#saleTable p:after {
	content: ' | ';
	color: #aaa;
	padding: 0 7px;
}
#saleTable span, #paymentTable span {
	color: #b04545;
	font-size: 9pt;
	vertical-align: top;
}
#saleTable input[type="button"] {
	background: #39210D;
	color: white;
	font-size: 10pt;
	height: 32px;
}
#saleTable tfoot tr td:last-child {
	text-align: right;
}
#payInfoTable tr td:last-child {
	text-align: right;
}
#payInfoTable tfoot td:last-child {
	color: #b04545;
	font-weight: bold;
}
#payForm input[type="text"], #payForm select {
	font-size: 10pt;
	height: 30px;
}
#payForm textarea {
	font-size: 10pt;
}
#orderBtn {
	background: #39210D;
	color: white;
	font-size: 10pt;
	width: 740px;
	height: 40px;
	margin-bottom: 5px;
}
#orderCancelBtn {
	background: #ccc;
	font-size: 10pt;
	width: 740px;
	height: 40px;
}
#paymentTable ul {
	margin: 0;
}
#paymentTable ul:first-child {
	border-bottom: 1px solid #999;
}
#paymentTable li {
	display: inline-block;
	width: 184px;
	height: 100px;
	border-left: 1px solid #999;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
#paymentTable li img {
    max-width: 300px;
    max-height: 110px;
    margin-top: -6px;
}
#paymentTable li:first-child {
	border-left: none;
}
#paymentTable .paymentImg {
	visibility: visible;
}
#paymentTable .paymentImgCheck {
	visibility: visible;
}
#paymentTable .paymentHidden {
	display: none;
}
#paymentTable .paymentImgCheckHidden {
	display: none;
}
#paymentTable .btn {
	width: 243px;
	height: 40px;
	font-size: 10pt;
	border: 1px solid #999;
}

/* 여기는 배송쪽 order때문에 만든 css에여ㅛ */
#section > div {
	float: left;
	margin: 10px 20px;
}

#section:after {
	content: '';
	display: block;
	clear: both;
}

/* sideNav */
#section #sideNav {
	border: solid;
	padding: 10px;
}

#section #sideNav > ul > li{
	margin: 0 10px;
}



/* #order */
#section #order {
	background-color: rgb(252, 250, 255);
	width: 80%;
	padding: 30px;
}

#section #order #shipping > span {
	margin-right: 20px;
}


#section #order #shipping, span, #section #order #info {
	display: inline-block;
	vertical-align: middle;
}

#section #order #shipping > table td {
	width: 100px;
}

#section #order img {
	width: 700px;
}

#section #order #info > table td {
	width: 100px;
}


/* ----------------------------------------- */
/* 배송지 관리 */
#manageShipForm {
	margin : 20px;
	font-size: 10pt;
	float: left;
}
#manageShipForm > legend {
	font-size: 18pt;
	margin-bottom: 15px;
}
#manageShipForm #shipBtnDiv {
	margin: 20px 0;
	height: 40px;
	vertical-align: middle;
} 
#manageShipForm #shipBtnDiv > div {
	float: right;
	vertical-align: middle;
}
#manageShipForm #addShipBtn {
	height: 35px;
	background: #39210D;
	margin-top: -7px;
	color: white;
	font-size: 10pt;
	text-align: right;
}
#manageShipForm #baseShipBtn {
	height: 35px;
	margin-top: -7px;
	background: #ccc;
	font-size: 10pt;
}
#manageShipForm #manageShipTable {
	border-top: 2px solid #39210D; 
	width: 834px;
	margin: 20px 0;
}
#manageShipForm #manageShipTable th, #manageShipForm #manageShipTable td {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 5px;
}
#manageShipForm #shipInfoDiv {
	font-size: 18pt;
	margin-top: 70px;
}
#manageShipForm > ul {
	margin: 10px;
	padding: 10px;
}
#manageShipForm > ul > li {
	list-style: disc;
	margin: 10px;
}
#manageShipForm:after {
	content: '';
	display: block;
	clear: both;
}

/* 배송지 추가 */
#addShipAddrForm{
	margin: 20px;
}
#addShipAddrForm legend {
	font-size: 15pt;
	margin-top: 50px;
	margin-bottom: 20px;
}
#addShipAddrForm #addShipAddrTable {
	border-top: 2px solid #39210D;
	border-collapse: collapse;
	margin: 30px 0;
	font-size: 10pt;
}
#addShipAddrForm #addShipAddrTable td {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 10px;
}
#addShipAddrForm #addShipAddrTable tr>td:first-child {
	background: #eee;	
}
#addShipAddrForm #addShipAddrTable input[type="text"] {
	margin: 2px 0;
	height: 19px;
}
#addShipAddrForm #addShipAddrTable span{
	color: red;
}
#addShipAddrForm #addShipBtnDiv {
	text-align: center;
}
#addShipAddrForm #findShipZipcode {
	background: white;
	border: 1px solid #999;
	height: 25px;
}
#addShipAddrForm #addShipCancelBtn {
	width: 40px;
	height: 25px;
}
#addShipAddrForm #addShipBtn {
	width: 40px;
	height: 25px;
}