html, body {
    width: 100%;
    height: 100%;
}

html, body, ul, li, a, hr, p{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    margin: 50px 0 10px 0;
    position: relative;
    min-width: 1500px;
    min-height: 500px;
}/*여기까지 기본셋팅*/


/*header*/
#logo {
    text-align: center;
}

#logo img {
    width: 300px;
    height: 100px;
}

#icon {
    position: absolute;
    top: 20px;
    left: 265px;
}

#icon img {
    width: 50px;
    height: 50px;
}

#headNav {
    position: absolute;
    top: 70px;
    right: 190px;
}

#headNav li {
    float: left;
    margin: 0 10px;
}

#headNav:after {
    display: block;
    content: "";
    clear: both;
}

/*mainNav*/
#mainNav {
	position: sticky;
    text-align: center;
    top: 0;
    padding-top: 20px;
    margin: 0 auto;
    margin-bottom: 0;
    background: white;
    opacity: 0.8;
    width: 1600px;

}

#mainNav #menu {
    position: relative;
    left: 13px;
}
#mainNav #menu img {
    width: 40px;
    height: 30px;
}

#mainNav > ul {
    display: inline-block;
    padding: 10px 0 0 0;
}

#mainNav ul:after {
    content: "|";
    padding: 10px;
    color: #999;
}

#mainNav ul:last-child:after {
    content: "";
}

#mainNav:after {
    display: block;
    content: "";
    clear: both;
}

#mainNav > ul > li {
    position: relative;
    display: inline-block;
    padding: 0 35px;
    font-size: 10pt;
}

#mainNavAfter {
	margin-top: 0;
}

.dropDownMenu {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    padding-top : 10px;
    border: 1.5px solid #aaa;
    background: #ffffffee;
}

.dropDownMenu li {
	padding: 4px 0;
}

#mainNav > ul > li:hover .dropDownMenu {
    display: block;
}

/* 전체메뉴 버튼 */
#allMenu {
	display: none;	
}

#allMenuToggle {
	visibility: visible;
	position: relative;
	width: 1600px;
	height: 250px;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: -12px;
	border: 2px solid #999;
	border-top: 0;
}

#allMenuToggle #menuClose {
	position: relative;
	left: 13px;
	visibility: hidden;
}

#allMenuToggle #menuClose img {
	width: 40px;
	height: 30px;
}

#allMenuToggle .hiddenMenu, #allMenuToggle #visibleMenu {
	display: inline-block;
	vertical-align: top;
	font-size: 10pt;
}

#allMenuToggle .hiddenMenu:after, #allMenuToggle #visibleMenu:after {
	content: '|';
	padding: 10px;
	color: #999;
	visibility: hidden;
}

#allMenuToggle .hiddenMenu li {
	position: relative;
	display: inline-block;
	padding: 0 35px;
	font-size: 10pt;
	visibility: hidden;
}

#allMenuToggle:after {
	display: block;
	content: '';
	clear: both;
}

#allMenuToggle #visibleMenu li {
	position: relative;
	display: inline-block;
	padding: 0 35px;
	font-size: 10pt;
}

#allMenuToggle #visibleMenu li a {
	visibility: hidden;
}

#allMenuToggle #visibleMenu li .dropDownMenu1 {
	position: absolute;
	width: 100%;
	top: -40;
	left: 0;
}

#allMenuToggle #visibleMenu li .dropDownMenu1 li {
	padding: 7px 0;
	display: block;
}

#allMenuToggle #visibleMenu li .dropDownMenu1 li a {
	visibility: visible;
}


/* imgSlide */
#imgSlideDiv {
	text-align: center;
	overflow: hidden;
}

#imgSlideDiv input {
	display: none;
}

#imgSlideDiv ul {
	width: 400%;
	height: 100%;
	transition: 1s;
}

#imgSlideDiv ul:after {
	content: "";
	display: block;
	clear: both;
}

#imgSlideDiv li {
	float: left;
	width: 25%;
	height: 100%;
}

#imgSlideDiv label {
	display: inline-block;
	width: 100px;
	height: 100px;
	cursor: pointer;
	position: relative;
	top: -450px;
	font-family: "궁서B";
	font-size: 50pt;
	color: white;
}

#imgSlideDiv #nextL {
	margin-left: 625px;
}

#imgSlideDiv #prevL {
	margin-right: 625px;
}


/*section*/
#section {
    width: 1300px;
    margin: 0 auto;
}

#section .img {
	width: 300px;
	height: 400px;
}

/*footer*/
#footer {
    position: relative;
    padding-top: 10px;
    width: 1300px;
    margin: 10px auto;
}

#footerLeft {
    display: inline-block;
}

#footerRight {
    position: absolute;
    display: inline-block;
    right: 150px;
}

#footerBottom ul li {
    display: inline-block;
    margin-top: 10px;
    margin: 10px 10px 0px 10px;
}

#top {
	position: fixed;
	right: 50px;
	bottom: 100px;
}

#bottom {
	position: fixed;
	right: 50px;
	bottom: 60px;
}
/*modal*/
.modal-body{	
	font-size: 20px;
}

.modal-dialog{

}

