<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
 <mapper namespace="cartSQL">
 
 	<insert id="insert">
 		insert into cart(cart_id, userid, product_id, amount, product_name, price, color) values(seq_cart.nextval, #{userid}, #{product_id}, #{amount},#{product_name},#{price}, #{color})
 	</insert>
 	
 	<select id="cartList" resultType="cart">
 		select cart_id, product_id, amount, product_name, price, color from cart where userid=#{userid}
 	</select>
 	
	<select id="checkCart" resultType="Integer">
		select 	count(1) 
		from 	cart
		where	1			= 1
		and		userid 		= #{userid}
		and		product_id	= #{product_id}
		and		color		= #{color}
 	</select>
 	
 	<!--x 눌렀을 때 삭제  -->
 	 <delete id="delete" parameterType="Integer">
 		delete  cart 
 		where   cart_id  =#{cart_id}
 	</delete> 
 	
 	 <!--장바구니 비우기 눌렀을 때 다 삭제  -->
 	 <delete id="deleteAll" parameterType="String">
 		delete  cart 
 		where   userid = #{userid}
 	</delete> 
 	
 	<!-- 수량 변경시 저장  -->
 	<update id="countupdate" parameterType="cart">
 		update  cart     
 		set     amount  = #{amount} 
 		where   cart_id = #{cart_id} 
 	</update>
 	
	<!-- 장바구니 결제 --> 	
	<select id="cartPayList" parameterType="String" resultType="cart">
		select * from cart where cart_id=#{cart_id}
	</select>
 </mapper>