<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="stockSQL">

	<insert id="write">
		insert all
		into radiantInfo(clnum, clname, category, price, salerate) values(${seq}.nextval, '${stockDTO.getClName()}', '${stockDTO.getCategory()}', ${stockDTO.getPrice()}, ${stockDTO.getSalerate()}) 
		into radiantStock(clnum, color, entercount, outcount) values(${seq}.currval, '${stockDTO.getColor()}', ${stockDTO.getEnterCount()}, 0) 
		into radiantDetail(clnum, cldetail, likecount) values(${seq}.currval, '${stockDTO.getClDetail()}', 0)
		select * from dual
	</insert> <!-- 재고입력 -->
	
	
	<select id="print" resultType="stock">
		select clnum, clname, category, price, salerate, color, entercount, outcount, clDetail from radiantinfo
		join radiantstock using(clnum) join radiantdetail using(clnum) 
		order by clnum, color
	</select> <!-- 재고테이블 출력 -->
	
	
	<!-- 재고수정 -->
	<update id="update1" parameterType="stock">
		update radiantInfo set clname=#{clName}, category=#{category}, price=#{price}, salerate=#{salerate} where clnum=#{clNum}
	</update>
	
	<update id="update2" parameterType="stock">
		update radiantStock set color=#{color}, entercount=#{enterCount}, outcount=#{outCount} where clnum=#{clNum}
	</update>
	
	<update id="update3" parameterType="stock">
		update radiantdetail set cldetail=#{clDetail} where clnum=#{clNum}
	</update>
	
	
	<!-- 재고삭제 -->
	<delete id="delete1">
		delete radiantInfo where clnum=#{clnum}
	</delete>
	<delete id="delete2">
		delete radiantStock where clnum=#{clnum}
	</delete>
	<delete id="delete3">
		delete radiantDetail where clnum=#{clnum}
	</delete>
	
	<!-- 재고출력 -->
	<select id="getStockList" resultType="stock">
		select clnum, clname, category, price, salerate, color, entercount, outcount, clDetail from radiantinfo
		join radiantstock using(clnum) join radiantdetail using(clnum) 
		where category=#{category} order by clnum, color
	</select>
	
	<select id="getStockDTO" resultType="stock">
		select clname,price from radiantinfo where clnum=#{clnum}
	</select>
	
	<!-- 옷정보출력 -->
	<select id="getClInfo" resultType="stock">
		select clnum, clname, category, price, salerate, color, entercount, outcount, clDetail from radiantinfo
		join radiantstock using(clnum) join radiantdetail using(clnum) 
		where clnum=#{clnum} order by clnum, color
	</select>
	<!-- 옵션추가 -->
	<insert id="addOption" parameterType="java.util.Map">
		insert into radiantstock values(#{clNum}, #{color}, #{enterCount}, #{outCount})
	</insert>

 </mapper>